.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}
.nav-items > ul {
  display: flex;
  font-size: 20px;
  list-style-type: none;
  align-items: center;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.nav-items {
}

.res-card {
  margin: 10px;
  padding: 5px;
  width: 30vh;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-btn {
  margin: 10px;
  padding: 10px;
  background-color: yellowgreen;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.shimmer-card {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.login-Btn {
  font-size: 20px;
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid black;
  margin-right: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: yellowgreen;
}

.filter {
  display: flex;
}
.search-box {
  width: 250px;
  height: 27px;
  margin: 10px;
  border: 3px solid yellowgreen;
  border-radius: 5px;
}

.search-btn {
  margin: 10px;
  padding: 8px;
  background-color: yellowgreen;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* 
Error Page CSS Starts Here----------------------------------------------------------------
*/

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/* 
    Error CSS Ends Here----------------------------------------------------------------
  */
