@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-card {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

/* 
Error Page CSS Starts Here----------------------------------------------------------------
*/

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
}

/* 
    Error CSS Ends Here----------------------------------------------------------------
  */

/* 
  ----------------------Offline CSS Starts -----------------------
  */

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper h1 {
  color: rgb(224, 22, 22);
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 5px;
  line-height: 1rem;
  text-shadow: 0 0 3px white;
}
.wrapper h4 {
  color: #0a0a0a;
  font-family: arial;
  font-weight: 300;
  font-size: 16px;
}
